#!/bin/sh

import() {
    for file; do
	if [ -r "$file" ]; then
	    # shellcheck disable=SC1090
	    . "$file"
	fi
    done
}

# set the path
path () {
    case ":$PATH:" in
	*:"$1":*)
	    ;;
	*)
	    if [ "$2" ]; then
		PATH="$1${PATH:+:$PATH}"
	    else
		PATH="${PATH:+$PATH:}$1"
	    fi
    esac
}
path ~/bin y

# C/C++
export PREFIX_="$HOME"/.local
export CPATH="$PREFIX_/include${CPATH:+:$CPATH}"
export LD_LIBRARY_PATH="$PREFIX_/lib${LD_LIBRARY_PATH:+:$LD_LIBRARY_PATH}"
export LIBRARY_PATH="$PREFIX_/lib${LIBRARY_PATH:+:$LIBRARY_PATH}"
path "$PREFIX_"/bin

# node
export NPM_CONFIG_PREFIX="$HOME"/.npmglobal
path "$HOME"/.npmglobal/bin

# go
path "$HOME"/go/bin

# rust
path "$HOME"/.cargo/bin

# python
path "$HOME"/.local/bin

# ruby
path ~/.rvm/bin
import ~/.rvm/scripts/rvm
path "$(ruby -e 'puts Gem.user_dir')"/bin

# default options
alias bauerbill='bauerbill --aur'
alias bb-wrapper='bb-wrapper --build-dir ~/.cache/bauerbill --aur'
alias curl='curl --location --cookie ~/.cookies.txt --cookie-jar ~/.cookies.txt'
alias diff='diff --text --unified --recursive'
alias ghc='ghc -dynamic'
alias gpg='gpg -a'
alias gpgv='gpg --verify'
alias qemu-system-x86_64='qemu-system-x86_64 -accel kvm -smp 2 -m 2048'
alias rg='rg --smart-case --search-zip --hidden'
alias sudo='sudo '
alias tcpdump='sudo tcpdump --relinquish-privileges $USER'
alias xclip='xclip -selection clipboard'

if ls --version > /dev/null 2>&1; then
    alias grep='grep --color=auto'
    alias ls='ls -Fh --hide="*~" --color=auto'
else
    alias ls='ls -Fh'
fi

# replacement programs with more features
if [ -x /usr/bin/trash ]; then
    alias rm='trash'
fi
alias pacman='${PACMAN:-pacman}'

# handy shortcuts
alias e='${EDITOR:-nano}'
alias em='$ALTERNATE_EDITOR'
alias fu='fuck'
alias igrep='grep --ignore-case'
alias la='ls -a'
alias ll='ls -l'
alias l='ls -la'
alias lr='ls -R'
alias lar='ls -AR'
alias sl='ls'
alias LS='ls'
if [ "$(uname)" != Darwin ]; then
    alias open='xdg-open'
fi

# personal info
export NAME="Kieran Colford"
export EMAIL="kieran@kcolford.com"

# basic environment
export ALTERNATE_EDITOR="emacs -q"
export EMACS_SERVER_NAME=server
export PAGER=less
export LESS=FRSXi
export DIFFPROG=diff
if [ "$TERM" = "dumb" ]; then
    export PAGER=cat
else
    export PAGER=less
fi
#export SSH_AUTH_SOCK="${SSH_AUTH_SOCK:-$(gpgconf --list-dirs agent-ssh-socket)}"
export SSH_AUTH_SOCK="${SSH_AUTH_SOCK:-$XDG_RUNTIME_DIR/ssh-agent.socket}"

# editor
if command -v emacs > /dev/null 2>&1; then
    export EDITOR="emacsclient -nw -s $EMACS_SERVER_NAME"
fi
export EDITOR="${EDITOR:-nano}"
export VISUAL="$EDITOR"
export TEXEDIT="$EDITOR +%d %s"

# cd to root
cdr() {
    cd "$(git rev-parse --show-toplevel)" || return
}
