#!/bin/sh

# default options
alias bauerbill='bauerbill --aur'
alias bb-wrapper='bb-wrapper --build-dir ~/.cache/bauerbill --aur'
alias curl='curl --location --cookie ~/.cookies.txt --cookie-jar ~/.cookies.txt'
alias diff='diff --text --unified --recursive'
alias ghc='ghc -dynamic'
alias gpg='gpg --armour'
alias gpgv='gpg --verify'
alias grep='grep --color=auto'
alias ls='ls --hide="*~" --color=auto --classify --human-readable'
alias qemu-system-x86_64='qemu-system-x86_64 -accel kvm -smp 2 -m 2048'
alias rg='rg --smart-case --search-zip'
alias rm='trash'
alias tcpdump='sudo tcpdump --relinquish-privileges $USER'
alias xclip='xclip -selection clipboard'

alias e='${EDITOR:-nano}'
alias em='emacs -Q'
alias fu='fuck'
alias igrep='grep --ignore-case'
alias la='ls -a'
alias ll='ls -l'
alias l='ls -la'
alias lr='ls -R'
alias lar='ls -AR'
alias sl='ls'
alias LS='ls'
alias open='xdg-open'

if [ -x /usr/bin/emacs ]; then
    export EDITOR="emacsclient -nw -s $EMACS_SERVER_NAME"
fi
export EDITOR="${EDITOR:-nano}"
export VISUAL="$EDITOR"
export TEXEDIT="$EDITOR +%d %s"

if [ "$TERM" = "dumb" ]; then
    export PAGER=cat
else
    export PAGER=less
fi
