*font: -*-terminus-medium-*-*-*-14-*-*-*-*-*-iso10646-1

*customization: -color
XTerm*eightBitInput: true
XTerm.termName: xterm-256color
XTerm*metaSendsEscape: true
XTerm*backarrowKey: false
XTerm.ttyModes: erase ^?
XTerm*saveLines: 4096
XTerm*background: black
XTerm*foreground: white
XTerm*reverseVideo: false
! XTerm*faceName: xos4 Terminus:pixelsize=14
XTerm*utf8: 1
XTerm*scrollKey: true
XTerm*fullscreen: never
XTerm*scrollTtyOutput: false
! XTerm*selectToClipboard: true
XTerm*translations: #override \n\
	Ctrl <Key>=: spawn-new-terminal() \n\
	Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
